.btn {
    transform-style: preserve-3d;
    --thickness: 10%;
    z-index: 10;
    box-sizing: content-box;
    background-color: #0e87b9;
    background-image: conic-gradient(#1e00ff,
            #3c00ff,
            rgba(255, 255, 255),
            #ff03d5,
            #e440bb,
            #ffffff,
            #0015ff);
    animation: card linear 5s infinite;
}
.hexagon {
    position: absolute;
    display: flex;
    bottom: -14%;
    left: 18%;
    width: 40%;
    height: 50px;
    margin: 40px 25px;
    transition: all 0.2s ease-in-out;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: #383838;
    clip-path: polygon(15% 0%, 0% 50%, 15% 100%, 85% 100%, 100% 50%, 85% 0%);
}

@keyframes card {
    0% {
        transform: perspective(50rem) rotateX(-15deg) rotateY(15deg);
    }
    50% {
        transform: perspective(50rem) rotateX(15deg) rotateY(-15deg);
    }
    100% {
        transform: perspective(50rem) rotateX(-15deg) rotateY(15deg);
    }

    to {
        filter: hue-rotate(1turn);
    }
}

.glassTop {
    width: 70%;
    height: 50px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    /* filter: blur(15px); */
    position: relative;
    z-index: 99;
    /* background: rgba(255, 255, 255, 0); */
    border-bottom: 40px solid #AAA3;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
}

.glassLR {
    width: 50px;
    height: 50%;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    /* filter: blur(15px); */
    position: relative;
    z-index: 99;
    /* background: rgba(255, 255, 255, 0); */
    border-right: 40px solid #AAA3;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
}
/* .glass {
    width: 60%;
    height: 100px;
    position: absolute;
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    backdrop-filter:blur(5px);
    opacity: 0.5;
    clip-path: polygon(0% 100% ,15% 83% ,17% 80% ,20% 79% ,21% 79% ,79% 79% ,80% 79% ,83% 80% ,85% 83% ,100% 100%);

} */

.lines {
    position: absolute;
    background-color: rgb(90, 90, 90);
    border-radius: 10px;
    margin: 0;
    padding: 1%;
    width: 95%;
    height: 95%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.cardbottom {
    padding-bottom: 30px;
}

.trans{
    transform: skewx(45 deg);
}